spring:
  application:
    name: discovery-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: true
      uri: http://localhost:8888
      retry:
        initial-interval: 1000
        max-interval: 2000
        max-attempts: 6